<html>
    <head>
        <title>Crer&Ser</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
    <div class="container">
        <h3 class="text-center">FICHA DE AVALIAÇÃO</h3>
        <form action="">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="">Nome:</label>
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="">Idade:</label>
                    <input type="number" class="form-control" id="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="">Responsável:</label>
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Contato:</label>
                    <input type="number" class="form-control" id="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Data de atendimento:</label>
                    <input type="datetime" class="form-control" id="">
                </div>
            </div>
        </div>

<!-- HÁBITOS -->
        <div class="row">
            <h4 class="text-center">HÁBITOS</h4>
            <hr>
            <div class="col-md-4">
                <label for="">Escovação diária:</label>
                <select id="" class="form-control">
                    <option value="">selecione</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="">Escova:</label>
                <select name="" id="" class="form-control">
                    <option value="">selecione</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="">Troca de escova:</label>
                <select name="" id="" class="form-control">
                    <option value="">selecione</option>
                </select>              
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <label for="">Usa creme dental: </label>
                <div class="radio">
                    <label><input type="radio" name="">Sim</label>
                    <label><input type="radio" name="">Não</label>
                </div>
            </div>
        </div>
<!-- HISTÓRIA ODONTOLÓGICA -->
        <div class="row">
            <h4 class="text-center">HISTÓRIA ODONTOLÓGICA </h4>
            <hr>
            <div class="col-md-3">
                <label for="">Já foi ao dentista:</label>
                <select name="" id="" class="form-control">
                    <option value="">selecione</option>
                </select>
            </div>


            <button type="submit" class="btn btn-primary">Salvar</button>
        
          </form>
    </div>
    </body>
</html>